# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries
# Testing...

name: Upload Python Package

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
        pip install -r requirements.txt
    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
      run: |
        git -C git-dependencies/burp-extender-api/ pull origin master
        git -C git-dependencies/jdk/ pull origin master
        ls -la git-dependencies/burp-extender-api/
        ln -s git-dependencies/burp-extender-api/src/main/java/burp/ sources/burp
        ln -s git-dependencies/jdk/src/java.base/share/classes/java/ sources/java
        ls -la git-dependencies/burp-extender-api/src/main/java/burp/
        ls -la sources/
        ls -la sources/burp/
        python java2py/java2py.py --sourcedir sources --package burp --outfile burp/burp.py
        python setup.py sdist bdist_wheel
        twine upload --repository testpypi dist/*
